# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.pyc

# C extensions
*.so

# Environments & Virtual Environments
.env
.envrc
.venv/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Model/venv/

# OS Specific
.DS_Store
**/.DS_Store
*.DS_Store


# Large ML Models & Training Weights
Model/
trained_models/
*.safetensors
*.pt
*.pth
*.bin
*.onnx
*.h5

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
.ruff_cache/
htmlcov/
